.bg1{
    background-image: url("../images/Rectangle.svg");
    background-size: cover;
}
.bg2{
    background-image: url('../images/2500px.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.logo {
    display: block;
    margin: auto;
    height: 80px;
    width: 80px;
}
.center{
    margin: auto;
}
input{
    background: none;
    border:2px solid #3ab9e7;
    border-radius: 3px;
    width:80%;
    color: white;
}
::placeholder{
    opacity: 0.7;
    color: #3ab9e7;
}
@media (min-width: 768px){
.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 31.333333%;
}
}
ul{
    list-style-type: none;
    text-align: center;
}
ul li{
   
    color: white;
}
.h4{
    text-align: center;
    color: orange;
}
.bg3{
    background-image: url("../images/Asset\ 1@4x.png");
    background-size: cover;
    width: 100%;
    height: 100%;
}
.img2{
    height:30%;
    width:30%;
}
.show:hover{
    transform: scale(1.05); 
    
}
.img-hover-zoom {
    height: 200px;
    width:auto;
    overflow: hidden;
  }
.img-hover-zoom img {
    transition: transform .5s ease;
  }
.img-hover-zoom:hover img {
    transform: scale(1.2);
  }
.carousel-indicators li {
       visibility: hidden; }

.logo2{
    display: block;
    width:30px;
    height:30px;
}
.position-absolute{
    top:0;
}
.srh{
    color: #3ab9e7;
}
.search {
    width: 60%;
    position: relative;
    display: flex;
  }
  @include media-breakpoint-down(sm) { 
      .search{
          width:70%;
      }
   }
  input:focus::placeholder {
    color: transparent;
  }
  
input:focus{
    outline: none !important;
}
.searchTerm {
    width: 100%;
    border: 2px solid #3ab9e7;
    padding: 5px;
    height: auto;
    color: black;
  }
.searchButton {
    width: 40px;
    height: 36px;
    background: none;
    text-align: center;
    border:none;
    color:#3ab9e7;
    position: absolute;
    right:0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
.cardin{
    border:2px solid #3ab9e7;
    color: #3ab9e7;
    width: 95%;
    top:42%;
}
.cardon{
        border:2px solid #3ab9e7;
        color: #3ab9e7;
        width: 95%;
        top:40%;
    
}
