.img1 {
    width: 25%;
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
  }
  .center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    
  }
  .img3{
      height: auto;
      width: 40%;
  }
